.first-blog-title {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 10vh;
  font-size: var(--fs-m);
  color: var(--text-color);
  right: 2vw;
  max-width: 95%;
  font-family: var(--ff-accent);
  font-weight: 300;
  letter-spacing: 1px;
}
.first-blog-description {
  position: relative;
  float: right;
  width: 50%;
  top: 12vh;
  text-align: right;
  padding-right: 1rem;
}
.first-blog-readmore {
  text-decoration: underline;
}
.first-blog-readmore:hover {
  cursor: pointer;
}
@media screen and (max-width: 75em) {
  .first-blog-description {
    width: 95%;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
    float: none;
    top: 11vh;
  }
  .first-blog-title {
    display: block;
    text-align: center;
    right: 0;
  }
}
