.Projects {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}
.box-1,
.box-2 {
  padding: 1rem;
  box-shadow: 5px 5px 15px -8px #000000;
  text-align: center;
  max-width: 100%;
  max-height: 45%;
  background-color: var(--card-color);
  border-radius: 0.5rem;
}
video {
  max-width: 90%;
  margin: 0 auto;
}
.view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.project-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
  color: var(--github-repo-button-color);
}
.Projects p {
  display: none;
}
.Projects button {
  display: none;
}
@media screen and (min-width: 56.25em) {
  .box-1,
  .box-2 {
    max-height: 40%;
    max-width: 90%;
  }
  video {
    max-width: 50%;
    max-height: 100%;
  }
  .box-1 video {
    float: left;
  }
  .box-2 video {
    float: right;
  }
  .Projects {
    padding: 5em;
  }
  .project-icons {
    display: none;
  }
  .Projects div p {
    display: block;
    color: var(--card-text-color);
  }
  .Projects button {
    display: flex;
    border-radius: 0.938em;
    padding: 0.5em;
  }
  .Projects button i {
    padding: 0;
    margin: 0;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem;
  }
  .github-repo,
  .live-site {
    color: var(--secondary-color);
    gap: 0.5em;
  }
  .github-repo {
    border: 1px solid var(--primary-color);
    background-color: var(--github-repo-button-color);
    color: var(--github-repo-button-text-color);
  }
  .live-site {
    border: 1px solid white;
    background-color: white;
  }
  .view-more:hover {
    border: 1px solid var(--text-color);
    border-radius: 0.9375em;
    padding: 0.5em;
  }
}
