.Projects {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}
.box-1,
.box-2 {
  padding: 1rem;
  box-shadow: 5px 5px 15px -8px #000000;
  text-align: center;
  position: relative;
  max-width: 100%;
  max-height: 45%;
  background-color: var(--card-color);
  border-radius: 0.5rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
  min-width: 95%;
}
.box-1 .buttons {
  justify-content: flex-end;
}
.github-repo {
  border: 1px solid var(--primary-color);
  background-color: var(--github-repo-button-color);
  color: var(--github-repo-button-text-color);
}
.live-site {
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
}
.github-repo,
.live-site {
  font-size: 1.25rem;
}
video {
  max-width: 90%;
  margin: 0 auto;
}
.view-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}
.view-more:hover {
  cursor: pointer;
  text-decoration: underline;
}
.project-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
  color: var(--github-repo-button-color);
  font-size: 1.5rem;
}
.Projects p {
  display: none;
}
.Projects button {
  display: none;
}
@media screen and (min-width: 56.25em) {
  .box-1,
  .box-2 {
    max-height: 40%;
    max-width: 95%;
  }
  video {
    max-width: 50%;
    max-height: 100%;
  }
  .box-1 video {
    float: left;
  }
  .box-2 video {
    float: right;
  }
  .project-icons {
    display: none;
  }
  .Projects p {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: var(--card-text-color);
  }
  .Projects button {
    display: block;
  }
}
