.Projects {
  height: 100vh;
  width: 100%;
}
.project-title-section {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
  height: 100%;
}
.project-title {
  font-size: var(--fs-xl);
  font-weight: normal;
  opacity: 0.1;
}
.project-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-markdown,
.project-randomquote,
.project-pomodoro {
  width: 70em;
}
.project-calculator {
  width: 45em;
}
.image-toggle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  gap: 10em;
  margin: 1rem;
  flex-direction: row;
}
.dot {
  height: 1.563rem;
  width: 1.563rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: block;
}
#dot-active {
  background-color: var(--primary-color);
}
.dot:hover {
  opacity: 0.7;
  cursor: pointer;
}
.project-description {
  position: relative;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  min-height: 15%;
}
.project-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.github-repo,
.live-site {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 15px;
}
.github-repo {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: white;
}
.live-site {
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
}
@media screen and (max-width: 62.5em) {
  .project-markdown,
  .project-randomquote {
    width: 100%;
    padding-top: 30%;
  }
}
@media screen and (max-width: 37.5em) {
  .project-description {
    width: 100%;
  }
  .project-markdown,
  .project-randomquote,
  .project-pomodoro {
    padding-top: 75%;
  }
  .image-toggle {
    gap: 3.5rem;
  }
}
@media screen and (max-width: 24.0625em) {
  /*Changing all project-image widths */
  .project-markdown,
  .project-randomquote,
  .project-pomodoro {
    padding-top: 90%;
  }
}
