p {
  line-height: 60px;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  color: var(--secondary-color);
}
.About {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
}
.about-title {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 15vh;
  font-size: 75px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: white;
  right: 2vw;
}
.about-text {
  position: relative;
  float: right;
  text-align: center;
  width: 50%;
  top: 15vh;
}
.headshot {
  width: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 1000px) {
  .title {
    justify-content: center;
    top: 0;
  }
  .about-text {
    width: 100%;
    top: 0;
  }
  .headshot {
    display: block;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 650px) {
  .about-text {
    font-size: 12px;
  }
  .title {
    font-size: 40px;
  }
}
