.footer {
  font-family: "Raleway", sans-serif;
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  font-size: 30px;
  cursor: pointer;
}
.copyright {
  color: #726a6a;
  opacity: 0.7;
}
