:root {
  --primary-color: #61dafb;
  --secondary-color: #42445a;
  --tertiary-color: #f2a98d;
}
.welcome {
  font-family: "Lobster", cursive;
  font-size: 250px;
  position: absolute;
  top: 15vh;
  width: 50%;
  color: var(--secondary-color);
}
.line {
  position: absolute;
  height: 75vh;
  border-left: 50px solid var(--primary-color);
  left: 10vh;
  top: 15vh;
}
@media screen and (max-width: 806px) {
  .welcome {
    font-size: 150px;
    top: 30vh;
  }
}
@media screen and (max-width: 496px) {
  .line {
    height: 50vh;
    top: 30vh;
    left: 5vh;
  }
  .welcome {
    font-size: 100px;
    top: 40vh;
  }
}
@media screen and (max-width: 332px) {
  .welcome {
    font-size: 75px;
    top: 45vh;
  }
}
