.About {
  width: 100%;
  height: 100vh;
}
.about-title-section {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  z-index: -1;
}
.about-title {
  font-size: clamp(20rem, 25vw + 1rem, var(--fs-xl));
  opacity: 0.2;
  font-weight: normal;
}
.personal-photo {
  width: 50%;
  border-radius: 50%;
  shape-outside: ellipse(50% 50%);
  float: left;
  margin-right: 2rem;
  z-index: 4;
  position: relative;
}
.about-me {
  font-size: var(--fs-sm);
  text-align: right;
}
.about-icons {
  float: left;
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 1rem;
  gap: 1.125em;
  font-size: var(--fs-icons-sm);
  color: var(--secondary-color);
}
.click-text {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 50em) {
  .about-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    opacity: 0.1;
  }
}
