.about-title {
  float: right;
  width: 25%;
}
.About article {
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.About article p {
  margin: 0 auto;
  text-align: right;
  width: 50%;
}
.personal-photo {
  max-width: 50rem;
  border-radius: 1rem;
  border-right: 50px var(--primary-color);
}
@media screen and (max-width: 80em) {
  .about-title {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
  .About article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .About article p {
    width: 100%;
    text-align: center;
  }
  .border-inner,
  .personal-photo {
    width: 100%;
  }
}
