---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

import blogs from "../utils/blogs";
---

<Layout
  title="Boss | Blog"
  description="Blog for Boston Rohan - a self taught developer currently working at Elevation Church, basketball enjoyer, anime enthusiast, and former grocery store bagger."
>
  <h1 class="text-2xl font-bold dark:text-neutral-50">Blog</h1>
  <h2 class="text-lg">a few thoughts I've had over the years...</h2>
  {blogs.map((blog) => {
    return (
      <a href={`/blog/${blog.title.replace(/\s+/g, "-").toLowerCase()}`}>
        <Card
          title={blog.title}
          body={blog.body}
          date={blog.date}
          extraInformation={`${blog.readTime} read`}
        />
      </a>
    )
  })}
</Layout>
