.Contact {
  margin-top: 15rem;
}
.Contact h1 {
  align-self: flex-start;
  margin: auto 9rem;
  position: absolute;
}
.Contact section {
  display: flex;
  width: 95%;
  margin: auto auto 3rem auto;
  flex-direction: row-reverse;
}
.Contact img {
  border-radius: 1rem;
}
.Contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Contact form input[type="text"] {
  width: 75%;
  margin: 3rem auto;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--accent-color);
}
.Contact textarea {
  width: 75%;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  resize: none;
  border: 2px solid var(--accent-color);
}
.Contact form input[type="submit"] {
  border: unset;
  border-radius: 1rem;
  padding: 0.625rem 1.5rem;
  background-color: var(--primary-color);
  justify-self: start;
}
@media screen and (max-width: 80em) {
  .Contact img {
    width: 75%;
    height: 90%;
    margin: auto;
  }
  .Contact h1 {
    margin: 0 auto;
    align-self: center;
  }
}
@media screen and (max-width: 40em) {
  .Contact img {
    display: none;
  }
}
