.About {
  width: 100%;
  height: 200vh;
}
.about-title {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 30vh;
  font-size: 75px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  color: var(--secondary-color);
  right: 2vw;
}
.about-text {
  position: relative;
  float: right;
  text-align: center;
  width: 50%;
  top: 30vh;
}
.headshot {
  width: 50%;
  border-radius: 50%;
  position: relative;
}
.click-text {
  cursor: pointer;
  font-style: italic;
}
@media screen and (max-width: 1200px) {
  .about-title {
    justify-content: center;
    top: 10vh;
  }
  .about-text {
    width: 100%;
    top: 15vh;
  }
  .headshot {
    display: block;
    top: 15vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 650px) {
  .about-title {
    font-size: 50px;
  }
  .about-text p {
    line-height: 40px;
  }
}
