.Footer {
  background-color: var(--footer-color);
}
.Footer .content {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.Footer .title {
  width: 50%;
}

.Footer .title-icons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.Footer .title-icons i {
  color: var(--text-color);
}

.Footer .copyright p {
  font-size: 1rem !important;
}

.Footer .copyright .italic {
  font-style: italic;
}
.Footer .main,
.projects,
.other {
  width: 25%;
  margin: 0 auto;
}

.main h3 {
  cursor: pointer;
}
@media screen and (max-width: 80em) {
  .Footer .title-icons {
    display: inline-block;
  }
  .Footer .title-icons i {
    margin: auto 0.25rem;
  }
}
@media screen and (max-width: 40em) {
  .Footer .content {
    flex-direction: column;
  }
  .Footer .title {
    width: 100%;
  }
  .Footer .main,
  .projects,
  .other {
    width: 100%;
  }
}
