---
import type { Project } from "../pages/index.astro";
import Card from "./Card.astro";

const { projects, githubUserId } = Astro.props;
---

<section>
  <h2 class="md:text-3xl text-2xl font-bold dark:text-neutral-50 pt-16">
    Projects
  </h2>
  <p class="text-lg w-fit">
    a few projects I've worked on that haven't been scrapped yet
  </p>
  {
    projects.map((project: Project) => {
      return (
        <Card
          title={project.name.replaceAll("-", " ")}
          body={project.description}
          stack={project.languages.edges
            .filter(
              (langauge) =>
                //languages come from gh so it includes compiled languages
                langauge.node.name !== "CSS" &&
                langauge.node.name !== "JavaScript",
            )
            .map((language) => language.node.name)}
          links={[
            { type: "external-link", href: project.homepageUrl },
            { type: "github", href: project.url },
          ]}
          isArchived={project.isArchived}
          isContributor={project.owner.id !== githubUserId}
        />
      );
    })
  }
</section>
