---
import Card from "./Card.astro";

export interface Props {
  projects: {
    title: string;
    description: string;
    stack?: string[];
    links: { type: string; href: string }[];
  }[];
}

const { projects } = Astro.props;
---

<section>
  <h1 class="md:text-3xl text-2xl font-bold dark:text-neutral-50 pt-16">
    Projects
  </h1>
  <p class="text-lg w-fit">
    a few projects I've worked on that haven't been scrapped yet
  </p>
  {projects.map((project) => {
    return (
      <Card
        title={project.title}
        body={project.description}
        stack={project.stack}
        links={project.links}
      />
    )
  })}
</section>
