.Footer {
  height: 50vh;
  background-color: var(--primary-color);
}
.columns {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 1rem;
  max-height: 80%;
}
.column {
  flex: 50%;
}
.column h3 {
  padding-bottom: 2rem;
  color: var(--secondary-color);
}
.credit-row {
  text-align: center;
  font-size: var(--fs-sm);
}
@media screen and (max-width: 36.3125rem) {
  .columns {
    display: block;
    min-height: 95%;
  }
  .column h3 {
    padding-bottom: 0.5rem;
  }
  .column {
    padding: 0.5rem;
  }
  .credit-row p {
    text-align: right;
    font-size: 0.5rem;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
  }
}
