.Footer {
  height: auto;
  background-color: var(--primary-color);
  width: 100%;
  height: auto;
}
.columns {
  display: flex;
  text-align: left;
  padding: 5em;
}
.column {
  flex: 50%;
}
.column p:hover {
  text-decoration: underline;
}
.column h3 {
  padding-bottom: 2rem;
  color: var(--secondary-color);
}
.credit-row {
  text-align: center;
  font-size: var(--fs-sm);
}
.footer-icons {
  font-size: 2rem;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  margin-right: 0.5rem;
  color: var(--secondary-color);
}
@media screen and (max-width: 36.3125rem) {
  .columns {
    display: block;
    padding: 3em;
  }
  .column h3 {
    padding-bottom: 0.5rem;
  }
  .credit-row p {
    text-align: right;
    font-size: 0.5rem;
  }
  .footer-icons {
    font-size: 1rem;
    justify-content: flex-start;
  }
}
