:root {
  --background-color: white;
  --primary-color: #61dafb;
  --secondary-color: #42445a;
  --tertiary-color: #f2a98d;
  --title-color: white;
  --about-icon-color: var(--secondary-color);
  --text-color: var(--secondary-color);
  --nav-color: var(--secondary-color);
  --card-color: var(--secondary-color);
  --card-text-color: white;
  --fs-xl: 24rem;
  --fs-m: 2.1875rem;
  --fs-l: 4.6875rem;
  --fs-sm: 1.25rem;
  --fs-icons-sm: 1.75rem;
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Oswald", sans-serif;
  --github-repo-button-color: var(--primary-color);
  --github-repo-button-text-color: var(--secondary-color);
}
.theme-dark {
  --background-color: var(--secondary-color);
  --title-color: var(--secondary-color);
  --about-icon-color: white;
  --text-color: white;
  --nav-color: var(--primary-color);
  --card-color: var(--primary-color);
  --card-text-color: var(--secondary-color);
  --github-repo-button-color: var(--secondary-color);
  --github-repo-button-text-color: white;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: var(--background-color);
}
main {
  overflow: hidden;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}
input,
textarea,
button,
select,
a,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2 {
  font-weight: 500;
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
p {
  line-height: 1.6;
  font-family: var(--ff-primary);
  color: var(--text-color);
  font-size: 1.3125rem;
}
img {
  max-width: 100%;
  display: block;
}
button {
  font-family: var(--ff-primary);
}
button,
.instagram-icon,
.twitter-icon,
.reddit-icon,
.medium-icon:hover {
  cursor: pointer;
}
.instagram-icon:hover {
  color: purple;
}
.twitter-icon:hover {
  color: var(--primary-color);
}
.reddit-icon:hover {
  color: orange;
}
.linkedin-icon:hover {
  color: #0072b1;
}
.medium-icon:hover {
  color: black;
}
