:root {
  --background-color: rgb(251, 251, 250);
  --primary-color: #61dafb;
  --secondary-color: #42445a;
  --accent-color: var(--secondary-color);
  --text-color: var(--secondary-color);
  --ff-primary: "Archivo", sans-serif;
  --fs-primary: 1.125rem;
  --fs-icon: 1.5rem;
  --footer-color: rgb(245, 244, 244);
  --loading-background-color: var(--primary-color);
  --loading-accent-background-color: var(--secondary-color);
  --loading-underline-color: var(--secondary-color);
}
.theme-dark {
  --background-color: var(--secondary-color);
  --text-color: rgb(251, 247, 247);
  --accent-color: var(--primary-color);
  --footer-color: #37384b;
  --loading-underline-color: rgb(251, 247, 247);
  --loading-background-color: var(--secondary-color);
  --loading-accent-background-color: var(--primary-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

h1,
h2,
h3,
a,
p {
  color: var(--text-color);
  font-family: var(--ff-primary);
}
a {
  text-decoration: none;
}
p {
  line-height: 1.8;
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  font-weight: 500 !important;
}
button {
  font-family: var(--ff-primary);
}
pre {
  color: #666;
  font-family: monospace;
  background: #f4f4f4;
  font-family: monospace;
  font-size: 1rem;
  padding: 1em 1.5em;
  border-radius: 1rem;
  border: 1px solid #ddd;
  border-left: 5px solid var(--primary-color);
}
button,
.instagram-icon,
.twitter-icon,
.linkedin-icon,
.medium-icon:hover {
  cursor: pointer;
}
.instagram-icon:hover {
  color: purple;
}
.twitter-icon:hover {
  color: var(--primary-color);
}
.linkedin-icon:hover {
  color: #0072b1;
}
.medium-icon:hover {
  color: black;
}
.text-underline-hover:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.5rem;
  cursor: pointer;
}
