:root {
  --background-color: rgb(251, 251, 250);
  --primary-color: #61dafb;
  --secondary-color: #42445a;
  --tertiary-color: #f2a98d;
  --text-color: var(--secondary-color);
  --fs-xl: 24rem;
  --fs-m: 2.1875rem;
  --fs-l: 4.6875rem;
  --fs-sm: 1.25rem;
  --fs-icons-sm: 1.75rem;
  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Oswald", sans-serif;
  --loading-background-color: var(--primary-color);
  --loading-accent-background-color: var(--secondary-color);
  --loading-underline-color: var(--secondary-color);
  --project-text-bold: 600;
  --project-icon-color: var(--secondary-color);
}
.theme-dark {
  --background-color: var(--secondary-color);
  --text-color: rgb(251, 247, 247);
  --loading-underline-color: rgb(251, 247, 247);
  --loading-background-color: var(--secondary-color);
  --loading-accent-background-color: var(--primary-color);
  --project-text-bold: 400;
  --project-icon-color: rgb(251, 247, 247);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

h1,
h2,
h3,
a,
p {
  color: var(--text-color);
}
a {
  text-decoration: none;
}
p {
  line-height: 1.6;
  font-family: var(--ff-primary);
  font-size: 1.3125rem;
}
button {
  font-family: var(--ff-primary);
}
button,
.instagram-icon,
.twitter-icon,
.reddit-icon,
.linkedin-icon,
.medium-icon:hover {
  cursor: pointer;
}
.instagram-icon:hover {
  color: purple;
}
.twitter-icon:hover {
  color: var(--primary-color);
}
.reddit-icon:hover {
  color: orange;
}
.linkedin-icon:hover {
  color: #0072b1;
}
.medium-icon:hover {
  color: black;
}
.text-underline-hover:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.5rem;
  cursor: pointer;
}
