---
import Nav from "../components/Nav.astro";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ||
        "Self taught developer currently working at Elevation Church, basketball enjoyer, anime enthusiast, former grocery store bagger."}
    />
    <meta property="og:title" content={title || "Boss"} />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content={description ||
        "Self taught developer currently working at Elevation Church, basketball enjoyer, anime enthusiast, former grocery store bagger."}
    />
    <meta property="og:image" content={image || "/full.webp"} />
    <meta property="og:url" content="https://bostonrohan.com/" />
    <meta property="twitter:title" content={title || "Boss"} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content={image || "/full.webp"} />
    <meta
      property="twitter:description"
      content={description ||
        "Self taught developer currently working at Elevation Church, basketball enjoyer, anime enthusiast, former grocery store bagger."}
    />
    <title>{title || "Boss"}</title>
  </head>
  <body
    class="m-auto w-11/12 sm:w-3/4  dark:bg-zinc-900 transition duration-300 ease-in-out dark:text-neutral-400"
  >
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
    <Nav pages={["Home", "Blog"]} />
    <slot></slot>
  </body>
</html>
