.title {
  float: right;
  margin: 0.5rem 5rem;
  text-align: right;
}
.article {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}
.article p {
  margin: 0 auto;
  text-align: right;
  width: 50%;
}
.img {
  max-width: 50rem;
  border-radius: 1rem;
  border-right: 50px var(--primary-color);
}
@media screen and (max-width: 80em) {
  .title {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
  .article {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .article p {
    width: 100%;
    text-align: center;
  }
  .img {
    width: 100%;
  }
}
