.page {
  text-align: center;
}
.section {
  width: 95%;
  margin: 0 auto;
}
.section img {
  width: 45%;
  margin: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 80em) {
  .section img {
    width: 100%;
    margin: 1rem auto;
  }
}
