.page {
  width: 90%;
  margin: 0 auto;
  padding-top: 6em;
}
.featured {
  width: 50%;
  float: left;
}
.featured:hover {
  transform: scale(1.015);
  cursor: pointer;
}
.blogs {
  width: 50%;
  float: right;
}
.blogs div:hover {
  cursor: pointer;
  transform: scale(1.015);
}
.header,
.featured h1,
.featured img,
.body {
  width: 90%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 2.5rem;
}
.blog h2 {
  font-size: 2rem;
}
.header p {
  font-size: 75%;
}
.featured h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 80em) {
  .page {
    padding-top: 10em;
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .featured,
  .blogs {
    width: 90%;
    float: none;
    margin: 0 auto;
  }
  @media screen and (max-width: 40em) {
    .header h2 {
      margin: 0;
    }
  }
}
