.h1 {
  align-self: flex-start;
  margin: auto 9.5rem;
  position: absolute;
  font-size: 2em !important;
}
.section {
  display: flex;
  width: 95%;
  margin: auto auto 3rem auto;
  flex-direction: row-reverse;
}
.img {
  border-radius: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form input[type="text"] {
  width: 75%;
  margin: 3rem auto;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--accent-color);
}
.textarea {
  width: 75%;
  margin: 3rem auto;
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  resize: none;
  border: 2px solid var(--accent-color);
}
.form input[type="submit"] {
  border: unset;
  border-radius: 1rem;
  padding: 0.625rem 1.5rem;
  background-color: var(--primary-color);
  justify-self: start;
  font-family: var(--ff-primary);
}
@media screen and (max-width: 80em) {
  .h1 {
    margin: 0 auto;
    align-self: center;
  }
}
@media screen and (max-width: 40em) {
  .img {
    display: none !important;
  }
  .form {
    position: absolute;
    margin: 0;
  }
  .Contact {
    margin: 0 !important;
  }
}
