.page {
  background-color: var(--footer-color);
}
.content {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.title {
  width: 50%;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.icons i {
  color: var(--text-color);
}

.copyright p {
  font-size: 1rem !important;
}

.copyright .italic {
  font-style: italic;
}
.main,
.projects,
.other {
  width: 25%;
  margin: 0 auto;
}
.g1 {
  bottom: -1800px;
  left: -450px;
}

.main h3 {
  cursor: pointer;
}
@media screen and (max-width: 80em) {
  .icons {
    display: inline-block;
  }
  .icons i {
    margin: auto 0.25rem;
  }
}
@media screen and (max-width: 40em) {
  .content {
    flex-direction: column;
  }
  .title {
    width: 100%;
  }
  .main,
  .projects,
  .other {
    width: 100%;
  }
}
