:root {
  --background-color: rgb(251, 251, 250);
  --primary-color: #61dafb;
  --secondary-color: #42445a;
  --accent-color: var(--secondary-color);
  --text-color: var(--secondary-color);
  --ff-primary: "Archivo", sans-serif;
  --fs-primary: 1.125rem;
  --fs-icon: 1.5rem;
  --footer-color: rgb(245, 244, 244);
  --loading-background-color: var(--primary-color);
  --loading-accent-background-color: var(--secondary-color);
  --loading-underline-color: var(--secondary-color);
}
.theme-dark {
  --background-color: var(--secondary-color);
  --text-color: rgb(251, 247, 247);
  --accent-color: var(--primary-color);
  --footer-color: #37384b;
  --loading-underline-color: rgb(251, 247, 247);
  --loading-background-color: var(--secondary-color);
  --loading-accent-background-color: var(--primary-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden !important;
  background-color: var(--background-color);
  transition: background-color 0.3s;
}

h1,
h2,
h3,
a,
p {
  color: var(--text-color);
  font-family: var(--ff-primary);
}
a {
  text-decoration: none;
}
p {
  line-height: 1.8;
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  font-weight: 500 !important;
}
button,
.button {
  font-family: var(--ff-primary);
  border: unset;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0.625rem 1.5rem;
  background-color: var(--primary-color);
  justify-self: start;
  color: var(--secondary-color);
}
pre {
  color: #666;
  font-family: monospace;
  background: #f4f4f4;
  font-family: monospace;
  font-size: 1rem;
  padding: 1em 1.5em;
  border-radius: 1rem;
  border: 1px solid #ddd;
  border-left: 5px solid var(--primary-color);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/* icons */
button,
.button,
.instagram-icon,
.twitter-icon,
.linkedin-icon,
.medium-icon:hover {
  cursor: pointer !important;
}
.instagram-icon:hover {
  color: purple !important;
}
.twitter-icon:hover {
  color: var(--primary-color) !important;
}
.linkedin-icon:hover {
  color: #0072b1 !important;
}
.medium-icon:hover {
  color: black !important;
}
.bi.bi-brightness-high-fill {
  color: #fdb813;
}
.bi.bi-moon-fill {
  color: #f4f1c9;
}
.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.5rem;
  cursor: pointer;
}
.hamburger-react {
  float: right;
  margin: 2.5em;
  color: var(--primary-color);
}

/*Views */
.Projects,
.Archives,
.Contact {
  margin-top: 15rem;
}

/*Card Project Styles */
.left,
.right {
  width: 95%;
  gap: 2rem;
  display: flex;
  margin: 0 auto;
}
.right img,
.left img {
  max-width: 50rem;
  border-radius: 1rem;
  cursor: pointer;
}
.right p,
.left p {
  width: 50%;
  margin: 0 auto;
}
.right {
  flex-direction: row-reverse;
  margin-bottom: 10rem;
}
.right p {
  text-align: left;
}
.left p {
  text-align: right;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 10em;
}

@media screen and (max-width: 80em) {
  .right,
  .left {
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .right img,
  .left img {
    width: 100%;
    opacity: 0.2;
    position: relative;
    z-index: 1;
  }
  .left p,
  .right p {
    width: 60%;
    position: absolute;
    text-align: center;
    font-weight: 700 !important;
  }
}

@media screen and (max-width: 40em) {
  .left p,
  .right p {
    width: 90%;
    font-size: 3.75vw;
  }
  .Contact {
    margin: 5rem auto 10rem auto;
  }
  .wrapper {
    width: 70%;
  }
}
