.page {
  text-align: center;
  padding-top: 15rem;
}
.hobby {
  width: 95%;
  margin: 0 auto;
}
.hobby iframe {
  margin: 1rem;
  width: 25%;
}
.image {
  margin: 1.25rem !important;
}

@media screen and (max-width: 80em) {
  .hobby iframe {
    width: 100%;
    margin: 1rem auto;
  }
}
