.page {
  text-align: center;
  padding-top: 15rem;
}
.hobby {
  width: 95%;
  margin: 0 auto;
}
.hobby iframe {
  margin: 1rem;
  width: 25%;
}
.hobby img {
  width: 25rem;
  margin: 1rem;
  height: 35rem;
}

@media screen and (max-width: 80em) {
  .hobby iframe {
    width: 100%;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 40em) {
  .hobby img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
