.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 14;
}
.title {
  font-size: 7.5rem;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 97%;
}
.title h1 {
  margin: 0.5rem auto;
}
.underline {
  height: 0px;
  border: 10px solid var(--loading-underline-color);
}
.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: var(--loading-background-color);
}
.accent {
  background-color: var(--loading-accent-background-color);
}
@media screen and (max-width: 40em) {
  .title {
    font-size: 15vw;
  }
}
