.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
}
.loading.title {
  font-size: 7.5rem;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading.title h1 {
  margin: 0.5rem auto;
}
.title.underline {
  height: 0px;
  border: 10px solid var(--loading-underline-color);
}
.loading.background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--loading-background-color);
}
.loading.accent {
  background-color: var(--loading-accent-background-color);
}
@media screen and (max-width: 40em) {
  .loading.title {
    font-size: 15vw;
  }
}
