.nav {
  width: 34em;
  margin: 1rem auto;
  padding-top: 1em;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 1rem;
  z-index: 10;
  animation-duration: 0.75s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}
.hidden {
  visibility: hidden;
}
.animate.fade {
  animation-name: animate-fade;
  animation-timing-function: ease;
}
@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav_active {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: var(--active-nav-color);
  z-index: 10;
  text-align: center;
}
.link_active {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.link {
  display: flex;
  gap: 2.5em;
  margin-left: 3em;
}
.link_active h3 {
  font-size: 2rem;
}
.link h3,
.link_active h3 {
  cursor: pointer;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@media screen and (max-width: 37.5rem) {
  .nav {
    width: 100%;
  }
  .link {
    display: none;
  }
}
