.content {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 2em;
}
.resume {
  width: 45%;
  margin: 0 auto;
}
.archives {
  border: 1px solid var(--card-color);
  width: 50rem;
  background-color: var(--card-color);
  overflow-y: hidden;
  overflow-x: scroll;
  height: 31.25rem;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  border-radius: 1rem;
}
.archives span {
  flex-shrink: 0 !important;
}
.school {
  border: 1px solid var(--card-color);
  width: 80%;
  margin: 0 auto;
  background-color: var(--card-color);
  overflow-y: hidden;
  overflow-x: scroll;
  height: auto;
  margin-top: 5rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  gap: 3em;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
}
@media screen and (max-width: 87.5rem) {
  .content {
    display: block;
  }
  .resume,
  .archives {
    width: 95%;
    display: flex;
  }
  .archives {
    margin-top: 5rem;
  }
  .school {
    justify-content: unset;
  }
  .resume {
    justify-content: center;
  }
}
