.cards {
  display: flex;
  gap: 3em;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.icons {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  margin-top: auto;
  justify-content: flex-end;
}
.icons i {
  font-size: var(--fs-icon);
  color: var(--text-color);
  cursor: pointer;
}
.g1 {
  top: 2750px;
  left: -400px;
}
