.h1 {
  margin: 0.5rem 10rem;
}
.left,
.right {
  width: 95%;
  gap: 2rem;
  display: flex;
  margin: 0 auto;
}
.right img,
.left img {
  max-width: 50rem;
  border-radius: 1rem;
}
.right p,
.left p {
  width: 50%;
  margin: 0 auto;
}
.right {
  flex-direction: row-reverse;
  margin-bottom: 10rem;
}
.right p {
  text-align: left;
}
.left p {
  text-align: right;
}
.icons {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.icons i {
  font-size: var(--fs-icon);
  color: var(--text-color);
}
.icons i:hover {
  color: var(--primary-color);
  cursor: pointer;
}
@media screen and (max-width: 80em) {
  .h1 {
    width: 100%;
    margin: 0.5rem auto;
    text-align: center;
  }
  .right,
  .left {
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .right img,
  .left img {
    width: 100%;
    opacity: 0.2;
    position: relative;
    z-index: 1;
  }
  .left p,
  .right p {
    width: 60%;
    position: absolute;
    text-align: center;
    font-weight: 700 !important;
  }
  .icons {
    display: none;
  }
}
@media screen and (max-width: 40em) {
  .left p,
  .right p {
    width: 90%;
    font-size: 3.75vw;
  }
}
