.toggle {
  float: left;
  position: fixed;
  z-index: 12;
  margin: 5.5rem auto auto 1.5rem;
}
.toggle i {
  font-size: 2rem;
}
.bi.bi-brightness-high-fill {
  color: #fdb813;
}
.bi.bi-moon-fill {
  color: #f4f1c9;
}
.toggle i:hover {
  cursor: pointer;
}
