.Project .images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding-top: 15rem;
}
.Project .images img {
  width: 75%;
  border-radius: 1rem;
}
.Project .project-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.Project .content {
  width: 95%;
  margin: 0 auto;
}
.Project .technologies {
  background-color: var(--footer-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
}
.Project .technologies i {
  font-size: var(--fs-icon);
  margin: 1rem;
  color: var(--text-color);
}
@media screen and (max-width: 40em) {
  .Project .images img {
    width: 95%;
  }
}
